body{
    margin:0;
    height:100vh;
    background-color:#131313;
    display: grid;
    place-items: center;
}
.cart-btn{
    border:none;
    background-color:#ff7a00;
    color:#fff;
    text-transform: uppercase;
    font-family:"Poppins", sans-serif;
    padding: 1em 3em;
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(255,122,0,0.2);
}
.icon-container{
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
}
.icon-container::before,
.icon-container::after{
    content:"";
    position: absolute;
    left: 0;
    width:10px;
    height: 4px;
    background-color:#fff;
    transform-origin:left;
    opacity: 0;
}
.icon-container::before{
    top:0;
    transform: translateX(-130%);
}
.icon-container::after{
    bottom:0;
    transform:translateX(-70%);
}
.primary-text{
    transition:all 0.2s ease-in;
}
.secondary-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.5);
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease-in;
}
.cart-btn.clicked .fa-shopping-cart{
    animation: moveForwards 0.8s linear 0.2s forwards;

}
@keyframes moveForwards{
    35%{
        transform: translate(4em) rotate(-10deg);
    }
    100%{
        transform: translate(12em) rotate(-1deg);
        opacity: 0;

    }
}
.cart-btn.clicked .primary-text{
    opacity: 0;
}

.cart-btn.clicked .secondary-text{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition-delay: 0.8s;

}
.cart-btn.clicked .icon-container::before,
.cart-btn.clicked .icon-container::after{
    animation: scale 0.6s ease-in 0.15s;
}
@keyframes scale{
    1%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scaleX(16);
    }
}
